@charset "UTF-8";

@media screen and (max-width: 704px) {
    .sumiço {
        display: none;
    }

    .detalhes {
        padding: 400px 0px 0px 0px;
        text-align: center;
    }

    .detalhes img {
        padding: 0px 0px 0px 10px;
    }

    .detalhes2 {
        padding: 0px 0px 0px 5px; 
    }

    .lado-lado {
        display: block;
        text-align: center;
    }

    #img-series {
        columns: 2;
    }

    .lista-de-termos ul{
        display: block;
        columns: 1;
    }

    #img-series li {
        padding: 0px 0px 25px 0px;
    }

    .detalhes2 ul {
        padding: 0px 0px 10px 0px;
    }

}